<template>
  <div class="welcome">
    <h1>BEM-VINDO</h1>
    <div class="buttons">
      <b-button type="is-info" :disabled="check" @click="sincronizar()">{{!check ? 'Sincronizar':'Sincronizado'}}</b-button>
      <b-button type="is-danger" :disabled="!check" @click="clear()">Deletar chache</b-button>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'home',
    props: {
      data: {
        type: String,
        default: null,
      },
    },
    data (){
      return {
        check: false
      }
    },
    methods:{
      async sincronizar(){
        const load = this.$buefy.loading.open()
        const res = await this.$store.dispatch('swapi/syncDataPageOne')
        const res2 = await this.$store.dispatch('swapi/syncDataPageTwo')
        const res3 = await this.$store.dispatch('swapi/syncFilms')
        if(res && res2 && res3){
          this.checkData()
          load.close()
        }
      },
      async clear() {
        const res = await this.$store.dispatch('swapi/clear')
        if(res){
          this.checkData()
        }
      },
      async checkData(){
        console.log('checando')
        const res = await this.$store.dispatch('swapi/check')
        this.check = res
      }
    },
    computed:{
    },
    mounted(){
      this.checkData()
    }
  };
</script>
<style scoped>
  .buttons{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .welcome{
    background: #0e1726;
    margin: 50px auto;
    color: #eee;
    text-align: center;
    border-radius: 5px;
    width: 70%;
    padding: 30px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 22px;
  }
</style>