<template>
  <div class="welcome">
    <b-field>
        <b-select placeholder="Select a episode" v-model="episode">
            <option value="All">Todos</option>
            <option
                v-for="option in films"
                :value="option.url"
                :key="option.url">
                {{ option.title }}
            </option>
        </b-select>
    </b-field>
    <div class="lista">
      <section>
        <b-table
            :data="filter"
            :paginated="true"
            :per-page="5"
            :current-page.sync="currentPage"
            aria-current-label="Current page">
            <template slot-scope="props">
              <b-table-column  field="name" label="Personagens" sortable>
                  {{ props.row.name }}
              </b-table-column>

              <b-table-column  field="height" label="Altura" sortable>
                  {{ props.row.height }}
              </b-table-column>
              <b-table-column label="Visualizar">
                <b-button size="is-small"
                  @click="opemModal(props.row)"
                  type="is-success"
                  icon-left="plus">
                  detalhes
              </b-button>
              </b-table-column>

              
            </template>
        </b-table>
      </section>
    </div>
   
    <b-modal :active.sync="isImageModalActive" :width="500" aria-role="dialog" :can-cancel="true">
        <div class="modalBox">
          <cite v-if="active" >
            “Olá! Meu nome é {{active.name}}. Sou um {{specie}},
             peso {{active.mass}} Kg, 
             nasci em {{planet}} no ano {{active.birth_year}}
             .
          </cite>
          <p><b>Filmes:</b></p>
          <ul>
            <li v-for="(iten, i) in filmes" v-bind:key="i">
              {{iten.title}}
            </li>
          </ul>
        </div>
    </b-modal>
  </div>
</template>

<script>
import { fil } from 'date-fns/locale';
import { mapGetters } from "vuex";

export default {
  name: 'home',
  data() {
    return {
      isImageModalActive: false,
      fil: 'people',
      active: null,
      specie: 'rato',
      planet: 'terra',
      filmes:[],
      episode: 'All',
      currentPage:1
    }
  },
  props: {
  },
  methods:{
    async getspecies(specie){
        const res = await this.$store.dispatch('swapi/getSpecies', specie)
        if(res){
          return res.name
        }
    },
    async getPlanet(planet){
        const res = await this.$store.dispatch('swapi/getPlanet', planet)
    },
    async opemModal(i){
      const load = this.$buefy.loading.open()

      this.active = i
      const pessoa = this.active

      const checkSpeciesCache = this.swapi.find(c => c.url == pessoa.species[0])
      const checkPlanetCache = this.swapi.find(c => c.url == pessoa.homeworld)

      console.log(checkSpeciesCache)

      this.filmes = this.films.filter(c => {
        if(pessoa.films.includes(c.url)){
          return c
        }
      })

      console.log(this.filmes)

      if(checkPlanetCache){
        this.planet = checkPlanetCache.name
      }else{
        this.planet = await this.getspecies(pessoa.homeworld)
      }

      if(checkSpeciesCache){
        this.specie = checkSpeciesCache.name
      }else if(pessoa.species.length == 0){
        this.specie = 'Humano'
      }else{
        this.specie = await this.getspecies(pessoa.species[0])
      }

      if(this.specie && this.planet){
        load.close()
        this.isImageModalActive = true
      }else{
        load.close()
        this.$buefy.toast.open({
            message: 'Erro de Conexão!',
            type: 'is-danger'
        })
      }

    },
    async checkData(){
      console.log('checando')
      const res = await this.$store.dispatch('swapi/check')
      if(!res){
        this.$router.push({ name: 'Home' })
      }
    }
  },
  mounted(){
    this.checkData()
  },
  computed:{
    ...mapGetters({
      swapi: "swapi/data",
      people: "swapi/people",
      films: "swapi/films",
    }),
    filter(){
      if(this.episode == 'All'){
        return this.people
      }
      const list = this.people.filter(c => {
        if(c.films.includes(this.episode)){
          return c
        }
      })
      return list
    }
  }
};
</script>
<style scoped>
ul{
  padding: 20px;
}

ul li{
  padding: 10px;
    background: #4456d8;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button_add{
  text-align: right;
  margin-bottom: 10px;
}


.modalBox{
  padding: 20px;
  background: #999;
  border-radius: 5px;
}

.welcome{
  background: #0e1726;
  color: #eee;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 22px;
}

.button_excluir, .button_editar{
  margin-right: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border:solid #eee 1px;
  cursor: pointer;
}

.button_excluir:hover, .button_editar:hover{
  opacity: 0.8;
  border:solid #000 1px;
}

.listagem button {
  margin: 5px 10px;
}


.button_editar{
  background: #4456d8;
}

.button_excluir{
  background: #d62424;
}
</style>